<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>StudentsQueryScoreSys</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>loginDispatcher</filter-name>
    <filter-class>com.mec.scoresys.filter.LoginDispatcher</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginDispatcher</filter-name>
    <url-pattern>/login/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>checkLogin</filter-name>
    <filter-class>com.mec.scoresys.filter.CheckLogin</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>checkLogin</filter-name>
    <url-pattern>/check/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>queryScore</servlet-name>
    <servlet-class>com.mec.scoresys.servlet.QueryScore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>queryScore</servlet-name>
    <url-pattern>/queryScore.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modifyPassword</servlet-name>
    <servlet-class>com.mec.scoresys.servlet.ModifyPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyPassword</servlet-name>
    <url-pattern>/modifyPassword.action</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>logout</servlet-name>
  	<servlet-class>com.mec.scoresys.servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>logout</servlet-name>
  	<url-pattern>/logout.action</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>teacherManage</servlet-name>
  	<servlet-class>com.mec.scoresys.servlet.TeacherManage</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>teacherManage</servlet-name>
  	<url-pattern>/teacherManage.action</url-pattern>
  </servlet-mapping>
</web-app>